/*
{{Color_1}}: 1c5631
{{Color_1_Shade}}: #194d2c; (goto http://www.color-hex.com/color/1c5631 ; use the second Shade -- just needs to be a little bit darker.)
{{Color_2}}: ddba67
{{Color_2_Tint}}: f4ead1; (goto http://www.color-hex.com/color/ddba67 ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
{{Logo_URL}}: {{Logo_URL}} sharptopco.github.io/cloudcard-custom-assets/organizations/tompkinscortland/tc3-green-logo-270x100.jpeg i.e. www.wingate.edu/wp-content/uploads/2015/06/logo.png
*/

html {
  background: #1c5631;
}

.splash {
  background-color: #1c5631;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #1c5631;
  height:10.5em;
}

.logo {
  background: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/tompkinscortland/tc3-green-logo-270x100.jpeg') top center no-repeat;
  display: inline-block;
  width: 100% !important;
  height: 100px !important;
  max-width: 400px !important;
}

header.header-page {
  background-color:#ddba67;
}

.header-page .tabs li a {
  border-bottom-color:#ddba67;
  color: #f4ead1;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #1c5631;
}

.header-page .buttons button {
  background-color: #1c5631;
  color: #fff;
}

.header-page button {
  background-color: #ddba67;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus
{
  background-color: #f4ead1;
  color: #1c5631;

  /* Alternative if the above doesn't look so great.
  background-color: #ddba67;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #1c5631;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #ddba67;
}

button:hover,
button:focus {
    background-color: #f4ead1;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #1c5631;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #194d2c;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #fff;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #f4ead1; /*default #007bff*/
}

table th,
table td {
    background: #f4ead1;
}

.footer {
    background: #1c5631;
}

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server),
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
