body {
    background-color: #fff;
    color: #380982;
}

#page-container {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/capital/Capital-University-Logo.png');
}

#logo-div {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/capital/Capital-University-Logo.png');
    min-height: 7em;
    background-size: contain;
    background-position: center;
}
