html {
  background: #00337f;
}

.splash {
  background-color: #00337f;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #00337f;
  height:8.5em;
}

.logo {
  background: url('https://sharptopco.github.io/cloudcard-custom-assets/organizations/eastern%20maine/2017.EMCC_.Logo_%20(1).png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#f99b0c;
}

/*photo section menu link behind*/
.header-page .tabs li a {
  border-bottom-color:#00337f;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus

{
  color: #fff; /*Pending,Approved,Denied,Downloaded,Done,Enroute links*/
}

/* Keep this block only if it looks good. */
/* Default violet color when selected pending, approved, denied, download, done and enroute 003865 */
.header-page .tabs a.active {
    border-bottom-color: #003865;
}

.header-page .buttons button {
  background-color: #003865; /*003865 MAIN BUTTONS and button links*/
  color: #fff; /* fff - text in button */
}

.header-page button {
  background-color: #00337f; /*f99b0c I DONT KNOW???*/
  color: #fff; /*fff I DONT KNOW */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #003865;
    color: #fff; /* fff  Custom fields text before click */
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff; /* fff Custom fields text after click color */
}

button {
    background-color: #f99b0c; /* f99b0c  I think the history button */
} 

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #003865; /* 003865 I DO NOT KNOW */
}

.user-info {
    color: #fff; /* user account and org logged in */
}

.user-info a:hover,
.user-info a:focus {
    color: #fff; /* fff I DONT KNOW THINK it's the hover for SIGN OUT link */
}

.open-nav {
    color: #ddd; /* ddd I DONT KNOW */
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff; /* ddd I DONT KNOW */
}

.admin-links .fa {
    color: #00337f; /*default #007bff - default #007bff -{{Color_2_Tint}} side menu icons*/
}

.footer {
    background: #003865;	 /*footer*/
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/


button.download_button {
	display: none;
}

.user-info {
    color: #013965; /* user account and org logged in */
}


