html {
  background: #522398;
}

.splash {
  background-color: #522398;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #0000;
  height:8.5em;
/*  Header bottom border  */
  border-bottom: 1px solid #522398;
}

.logo {
  background: url('https://sharptopco.github.io/cloudcard-custom-assets/organizations/healthpartners/HPlogo.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#3d7edb;
}

/*photo section menu link behind*/
.header-page .tabs li a {
  border-bottom-color:#522398;
}

/*Pending,Approved,Denied,Downloaded,Done,Enroute links*/
.header-page .tabs li a:hover,
.header-page .tabs li a:focus

{
  color: #fff; 
}


/* Keep this block only if it looks good. */
/* Default violet color when selected pending, approved, denied, download, done and enroute 5a91e1 */
.header-page .tabs a.active {
    border-bottom-color: #5a91e1;
}

/*5a91e1 MAIN BUTTONS and button links*/
.header-page .buttons button {
  background-color: #5a91e1; 
  color: #fff; /* fff - text in button */
}

.header-page button {
  background-color: #522398; /*3d7edb I DONT KNOW???*/
  color: #fff; /*fff I DONT KNOW */
}

/* fff  Custom fields text before click */
.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #5a91e1;
    color: #fff; 
}

/* fff Custom fields text after click color */
.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff; 
}

/* History Button */
button {
    background-color: #3d7edb; 
} 

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #5a91e1; /* 5a91e1 I DO NOT KNOW */
}


/* user account and org logged in */
.user-info {
    color: #013965;
}

/* Hover for SIGN OUT link */
.user-info a:hover,
.user-info a:focus {
    color: #5a91e1; 
}

.open-nav {
    color: #ddd; /* ddd I DONT KNOW */
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff; /* ddd I DONT KNOW */
}

.admin-links .fa,
ul.photo-requirements i{
    color: #522398; /*default #007bff - default #007bff -{{Color_2_Tint}} side menu icons*/
}

.sidebar-main {
  background: #000000;
}

.admin-links a,
ul.photo-requirements {
  background-color: #000000;
/*   color: #292929; */
}
.admin-links a:hover {
  background-color: #3d7edb;
}

.footer {
    background: #3d7edb; /*footer*/
}

img.photos--preview.good {
border: 3px solid #13c545;
border-radius: 50%;
}

img.photos--preview.bad {
border: 3px solid #ef2160;
border-radius: 50%;
}

img.photos--preview.maybe {
border: 3px solid #ffa305;
border-radius: 50%;
}

img.photos--preview.unclassified {
border: 3px solid #a1a1a1;
border-radius: 50%;
}

div.user-picture-container > img {
  border-radius: 50%;
}

p.edit-existing-photo {
display: none;
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Unhide this block to hide the "Download Photos" button
button.download_button {
	display: none;
}
 */
