body {
    background-color: #004c97;
    color: #ffffff;
}

#page-container {
    background-image: url('//vdssupport.github.io/EIU/EIUSquareWhite.png');
}

#logo-div {
    background-image: url('//vdssupport.github.io/EIU/EIUSquareWhite.png');
    min-height: 7em;
    background-size: contain;
    background-position: center;
}
