/*
Color 1: #012168;
Color 2 / icon color: #c7b683;
Logo URL: https://sharptopco.github.io/cloudcard-custom-assets/organizations/wingate/wingatebulldoglogo.png
*/

html {
    background: #012168;
}

body {
    padding-top: 0;
}


.splash {
    background-color: #012168;
}

.splash .loading path {
    fill: #fff;
}

header.header-main {
    background-color:#012168;
    height:10.5em;
}

.logo {
    background: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/wingate/wingatebulldoglogo.png') top center no-repeat;
    display: inline-block;
    width: 100% !important;
    height: 100px !important;
    max-width: 400px !important;
}

header.header-page {
    background-color:#c7b683;
}

.header-page .tabs li a {
    border-bottom-color:#c7b683;
	color: #f7f4ee;
}
.header-page .tabs li a:hover {
	color: #fff;
}

.header-page button {
    background-color: #c7b683;
	color: #f7f4ee;
}

.header-page button:hover {
	background-color: #fff;
	color: #c7b683;
}

button, router-view > .buttons button.primary {
    background-color: #c7b683;
}

button:hover, router-view > .buttons button.primary:hover {
    background-color: #dcc88f;
}

.user-info a {
    color: #012168 !important;
}

.open-nav, .open-nav:focus {
    color: #ddd;
}

.open-nav:hover {
    color: #fff;
}

.admin-links .fa {
    color: #007bff;
}

table th, 
table td {
    background: #f3eee2;
}

.footer {
    background: #012168;
}
