/*
{{Color_1}}: 012168
{{Color_1_Shade}}: #001d5d; (goto http://www.color-hex.com/color/012168 ; use the second Shade -- just needs to be a little bit darker.)
{{Color_2}}: c7b683
{{Color_2_Tint}}: #eee9d9; (goto http://www.color-hex.com/color/c7b683 ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
{{Logo_URL}}: www.wingate.edu/wp-content/uploads/2015/06/logo.png i.e. www.wingate.edu/wp-content/uploads/2015/06/logo.png
*/

html {
  background: #012168;
}

.splash {
  background-color: #012168;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #012168;
  height:10.5em;
}

.logo {
  background: url('//www.wingate.edu/wp-content/uploads/2015/06/logo.png') top center no-repeat;
  alignment: center;
  display: inline-block;
  width: 15.625em;
  background-size: contain;	
}

header.header-page {
  background-color:#c7b683;
}

.header-page .tabs li a {
  border-bottom-color:#c7b683;
  color: #eee9d9;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #012168;
}

.header-page .buttons button {
  background-color: #012168;
  color: #fff;
}

.header-page button {
  background-color: #c7b683;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus
{
  background-color: #eee9d9;
  color: #012168;

  /* Alternative if the above doesn't look so great.
  background-color: #c7b683;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #012168;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #c7b683;
}

button:hover,
button:focus {
    background-color: #eee9d9;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #012168;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #001d5d;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #eee9d9;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #eee9d9; /*default #007bff*/
}

table th,
table td {
    background: #eee9d9;
}

.footer {
    background: #012168;
}

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server),
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
