#header {
	background-color: #000;
}

html {
	background-color: #f47920;
}

.footer {
	background-color: #f47920;
}

.footer a {
  color: #222;
  text-decoration: none;
}

#requirements {
	background-color: #000;
}