html {
    background: #a29988;
}

body {
    padding-top: 0;
}

#header {
    background-color: #000;
    border-color: #000;
}

[ng-view] h2 {
    color: #a29988 !important;
}

[logo-swap] {
    background: url('//s3.amazonaws.com/sharptop/public/cloud-card/pacific/pacific.logo.jpg') top left no-repeat;
    width: 188px; height: 40px;
    background-size: contain;
    display: inline-block;
    width: 100% !important;
    height: 100px !important;
    max-width: 400px !important;
}

[logo-swap] img {
    display: none !important;
}

#terms button,
#account button {
    background-color: #a29988 !important;
}

#upload > div,
#camera > div {
    background: #a29988 !important;
}

#requirements {
    background: #e1810d;
}

#footer {
    background: #a29988;
}

#footer > div {
    border-top: none;
}

.footer {
    background: #a29988;
}
