
body {
    background-color: #fff;
    color: #000000;
}

#page-container {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/brock/brock-logo-red.png');
}

#logo-div {
    background-image: url('sharptopco.github.io/cloudcard-custom-assets/organizations/brock/brock-logo-red.png');
    min-height: 7em;
    background-size: contain;
    background-position: center;
}
