/*
{{Color_1}}: 0079be
{{Color_1_Shade}}: #006098; (goto http://www.color-hex.com/color/0079be ; use the second Shade -- just needs to be a little bit darker.)
{{Color_2}}: 002539
{{Color_2_Tint}}: #e5e9eb; (goto http://www.color-hex.com/color/002539 ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
{{Logo_URL}}: sharptopco.github.io/cloudcard-custom-assets/organizations/Quebec/quebeclogowhite.png
 i.e. www.wingate.edu/wp-content/uploads/2015/06/logo.png
*/

html {
  background: #0079be;
}

.splash {
  background-color: #0079be;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #0079be;
  height:10.5em;
}

.logo {
  background: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/Quebec/quebeclogowhite.png') center no-repeat;
  alignment: center;
  display: inline-block;
  width: 15.625em;
  background-size: contain;
}

header.header-page {
  background-color:#002539;
}

.header-page .tabs li a {
  border-bottom-color:#002539;
  color: #e5e9eb;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #0079be;
}

.header-page .buttons button {
  background-color: #0079be;
  color: #fff;
}

.header-page button {
  background-color: #002539;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus
{
  background-color: #e5e9eb;
  color: #0079be;

  /* Alternative if the above doesn't look so great.
  background-color: #002539;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #0079be;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #002539;
}

button:hover,
button:focus {
    background-color: #e5e9eb;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #0079be;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #006098;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #e5e9eb;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #e5e9eb; /*default #007bff*/
}

table th,
table td {
    background: #e5e9eb;
}

.footer {
    background: #0079be;
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server),
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
