/*
{{Color_1}}: 501214
{{Color_1_Shade}}: #481012; (goto http://www.color-hex.com/color/501214 ; use the second Shade -- just needs to be a little bit darker.)
{{Color_2}}: 8d734a
{{Color_2_Tint}}: #e8e3da; (goto http://www.color-hex.com/color/8d734a ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
{{Logo_URL}}: sharptopco.github.io/cloudcard-custom-assets/organizations/tsu/tsulogo.png i.e. www.wingate.edu/wp-content/uploads/2015/06/logo.png
*/

html {
  background: #501214;
}

.splash {
  background-color: #501214;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #501214;
  height:10.5em;
}

.logo {
  /*doesn't work: background: url('sharptopco.github.io/cloudcard-custom-assets/organizations/tsu/tsulogo.png') top center no-repeat;*/
  /*background: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/tsu/tsulogo.png') top center no-repeat;*/
  background: url('tsulogo.png') top center no-repeat;
  display: inline-block;
  width: 100% !important;
  height: 100px !important;
  max-width: 400px !important;
}

header.header-page {
  background-color:#8d734a;
}

.header-page .tabs li a {
  border-bottom-color:#8d734a;
  color: #e8e3da;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #501214;
}

.header-page .buttons button {
  background-color: #501214;
  color: #fff;
}

.header-page button {
  background-color: #8d734a;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus
{
  background-color: #e8e3da;
  color: #501214;

  /* Alternative if the above doesn't look so great.
  background-color: #8d734a;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #501214;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #8d734a;
}

button:hover,
button:focus {
    background-color: #e8e3da;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #501214;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #481012;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #e8e3da;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #e8e3da; /*default #007bff*/
}

table th,
table td {
    background: #e8e3da;
}

.footer {
    background: #501214;
}

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server),
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/