body {
    background-color: #ffffff;
    color: #d62128;
}

#page-container {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/aum/AAEE.png');
}

#logo-div {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/aum/AAEE.png');
    min-height: 7em;
    background-size: contain;
    background-position: center;
}