html {
  background: #002a4d;
}

.splash {
  background-color: #002a4d;
}

.splash .loading path {
  fill: #002a4d;
}

header.header-main {
  background-color: #002a4d;
  height:8.5em;
/*  Header bottom border  */
  border-bottom: 1px solid #002a4d;
}

.logo {
  background: url('https://sharptopco.github.io/cloudcard-custom-assets/organizations/testingrp/RP_Full_White.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#3a77f7;
}

/*photo section menu link behind*/
.header-page .tabs li a {
  border-bottom-color:#3a77f7;
}

/*Pending,Approved,Denied,Downloaded,Done,Enroute links*/
.header-page .tabs li a:hover,
.header-page .tabs li a:focus

{
  color: #fff;
}


/* Keep this block only if it looks good. */
/* Default violet color when selected pending, approved, denied, download, done and enroute cb4657  */
.header-page .tabs a.active {
    border-bottom-color: #FEA700 ;
}

/*cb4657  MAIN BUTTONS and button links*/
.header-page .buttons button {
  background-color: #FEA700 ;
  color: #fff; /* fff - text in button */
}

.header-page button {
  background-color: #002a4d; /*A51e2f I DONT KNOW???*/
  color: #fff; /*fff I DONT KNOW */
}

/* fff  Custom fields text before click */
.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #FEA700 ;
    color: #fff;
}

/* fff Custom fields text after click color */
.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

/* History Button */
button {
    background-color: #002a4d;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #FEA700 ; /* cb4657  I DO NOT KNOW */
}


/* user account and org logged in */
.user-info {
    color: #3a77f7;
}

/* Hover for SIGN OUT link */
.user-info a:hover,
.user-info a:focus {
    color: #FEA700 ;
}

.open-nav {
    color: #ddd; /* ddd I DONT KNOW */
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff; /* ddd I DONT KNOW */
}

.admin-links .fa,
ul.photo-requirements i{
    color: #3a77f7; /*default #007bff - default #007bff -{{Color_2_Tint}} side menu icons*/
}

.sidebar-main {
  background: #002a4d;
}

.admin-links a,
ul.photo-requirements {
  background-color: #002a4d;
/*   color: #292929; */
}
.admin-links a:hover {
  background-color: #3a77f7;
}



.footer {
    background: #3a77f7; /*footer*/
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Unhide this block to hide the "Download Photos" button
button.download_button {
	display: none;
}
 */
