/*
{{Color_1}}: 00529b
{{Color_2}} / icon color: e96b1d
{{Color_2_Tint}}: #e5edf5
{{Logo_URL}}: sharptopco.github.io/cloudcard-custom-assets/organizations/stambrose/stambrosewhiteonblue100.png
*/

html {
    background: #00529b;
}

.splash {
    background-color: #00529b;
}

.splash .loading path {
    fill: #fff;
}

header.header-main {
    background-color: #00529b;
    height:10.5em;
}

.fa-bars:hover {
  color: #e96b1d;
}

.logo {
    background: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/stambrose/stambrosewhiteonblue100.png') top center no-repeat;
    display: inline-block;
    width: 100% !important;
    height: 100px !important;
    max-width: 400px !important;
}

header.header-page {
  background-color:#e96b1d;
}

.header-page .tabs li a {
  border-bottom-color:#e96b1d;
	color: #fff;
}
.header-page .tabs li a:hover {
	color: #fff;
}

.header-page .buttons button {
  background-color: #00529b;
	color: #fff;
}

.header-page button {
  background-color: #e96b1d;
	color: #fff;
}

.header-page button:hover {
	background-color: #fff;
	color: #00529b;
}

button, router-view > .buttons button.primary {
    background-color: #e96b1d;
}

button:hover, router-view > .buttons button.primary:hover {
    background-color: #dcc88f;
}

.user-info a {
    color: #00529b !important;
}

.open-nav, .open-nav:focus {
    color: #ddd;
}

.open-nav:hover {
    color: #fff;
}

.admin-links .fa {
    color: #e96b1d;
}

table th,
table td {
    background: #e5edf5;
}

.footer {
    background: #00529b;
}
