/*
{{Color_1}}: 003731
{{Color_2}} / icon color: d7ae28
{{Color_2_Tint}}: f7eed4;
{{Logo_URL}}: sharptopco.github.io/cloudcard-custom-assets/organizations/kingsunivcol/kuc100.jpg
*/

html {
    background: #003731;
}

.splash {
    background-color: #003731;
}

.splash .loading path {
    fill: #fff;
}

header.header-main {
    background-color: #003731;
    height:10.5em;
}

.fa-bars:hover {
  color: #d7ae28;
}

.logo {
    background: url("//sharptopco.github.io/cloudcard-custom-assets/organizations/kingsunivcol/kuc100.jpg") center no-repeat;
    alignment: center;
  display: inline-block;
  width: 15.625em;
  background-size: contain;
}

header.header-page {
  background-color:#d7ae28;
}

.header-page .tabs li a {
  border-bottom-color:#d7ae28;
	color: #fff;
}
.header-page .tabs li a:hover {
	color: #fff;
}

.header-page .buttons button {
  background-color: #003731;
	color: #fff;
}

.header-page button {
  background-color: #d7ae28;
	color: #fff;
}

.header-page button:hover {
	background-color: #fff;
	color: #004236;
}

button, router-view > .buttons button.primary {
    background-color: #d7ae28;
}

button:hover, router-view > .buttons button.primary:hover {
    background-color: #dcc88f;
}

.user-info a {
    color: #003731 !important;
}

.open-nav, .open-nav:focus {
    color: #ddd;
}

.open-nav:hover {
    color: #fff;
}

.admin-links .fa {
    color: #d7ae28; //default #007bff
(goto }; find the color similar to e_e_e_)

table th,
table td {
    background: #f7eed4;
}

.footer {
    background: #003731;
}
