/*
{{Color_1}}: d6001c
{{Color_2}} / icon color: 47484a
{{Color_2_Tint}}: ececec
{{Logo_URL}}: s3.amazonaws.com/sharptop/public/cloud-card/Lynchburg-College/LYNCHBURG-logo-120.png
*/

html {
    background: #d6001c;
}

.splash {
    background-color: #d6001c;
}

.splash .loading path {
    fill: #fff;
}

header.header-main {
    background-color: #d6001c;
    height:10.5em;
}

.fa-bars:hover {
  color: #47484a;
}

.logo {
    background: url('//s3.amazonaws.com/sharptop/public/cloud-card/Lynchburg-College/LYNCHBURG-logo-120.png') top center no-repeat;
    display: inline-block;
    width: 100% !important;
    height: 100px !important;
    max-width: 400px !important;
}

header.header-page {
  background-color:#47484a;
}

.header-page .tabs li a {
  border-bottom-color:#47484a;
	color: #fff;
}
.header-page .tabs li a:hover {
	color: #fff;
}

.header-page .buttons button {
  background-color: #d6001c;
	color: #fff;
}

.header-page button {
  background-color: #47484a;
	color: #fff;
}

.header-page button:hover {
	background-color: #fff;
	color: #d6001c;
}

button, router-view > .buttons button.primary {
    background-color: #47484a;
}

button:hover, router-view > .buttons button.primary:hover {
    background-color: #dcc88f;
}

.user-info a {
    color: #d6001c !important;
}

.open-nav, .open-nav:focus {
    color: #ddd;
}

.open-nav:hover {
    color: #fff;
}

.admin-links .fa {
    color: #47484a; //default #007bff
(goto }; find the color similar to e_e_e_)

table th,
table td {
    background: #ececec;
}

.footer {
    background: #d6001c;
}