/*
*/

html {
  background: #8babb7;
}

.splash {
  background-color: #8babb7;
}

.splash .loading path {
  fill: #ffffff;
}

header.header-main {
  background-color: #ffffff;
  height:10.5em;
  border-bottom: 6px solid #cf542a;
  
}

.logo {
  background: url('https://sharptopco.github.io/cloudcard-custom-assets/organizations/whittleschool/whittleschool_logo.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#e5e7dc;
}

.header-page h1 {
    color: #8babb7;
    padding-right: 0.73684em;
    text-transform:uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 32px;

}

.header-page .filters select {
	    border: 1px solid #033D5A;
	    background-color: #cf542a;
	    color: #033D5A;
}

.header-page .fa-search {
	color: #cf542a !important;
	
}

.header-page .tabs li a {
  border-bottom-color:#9ec597;
  color: #8babb7;
  text-transform:uppercase;
  letter-spacing: .5px;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #cf542a;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #8babb7;;
}

.header-page .buttons button {background-color: #8babb7;color: #ffffff; border: .5px solid #ffffff;}
.header-page .tabs a.active {
color: #cf542a;	
text-transform:uppercase;
letter-spacing: 1px;
font-weight:600;
}
.header-page button {
  background-color: #8babb7;
  color: #ffffff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #cf542a;
  color: #ffffff;

  /* Alternative if the above doesn't look so great.
  background-color: #69cbcc;
  color: #ffffff;
   */
}


.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #ffffff;
    color: #cf542a;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #ffffff;
}

button {
    background-color: #ffffff;
}

button:hover,
button:focus {
    background-color: #8babb7;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #8babb7;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #cf542a;
}

.user-info {
    color: #8babb7;
}

.user-info a {
    color: #cf542a;
}

.user-info a:hover,
.user-info a:focus {
    color: #ffffff;
}

.open-nav {
    color: #cf542a;
}

.open-nav:hover,
.open-nav:focus
{
    color: #cf542a;
}

.admin-links .fa {
    color: #e5e7dc; /*default #007bff*/
}

.admin-links a {
     background: #8babb7;
    color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}

.admin-links a:hover,
.admin-links a:focus {
    background: #8babb7;
    color: #e5e7dc;
}

table th {
   background: #cf542a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    border-top: 1px solid #8babb7;
    letter-spacing: 1px;
}

table td {
    background: #f0f0f0;
}
table a {
    color: #8babb7;
    text-decoration: underline;
}

photo-list-header.photo-list-columns {
    background: #cf542a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    border-top: 1px solid #8babb7;
    letter-spacing: 1px;
}

.header-page .filters .filter:after {
	
	Color: #8babb7;
}
.footer {
      background: #cf542a;
      BORDER-BOTTOM: 6PX SOLID #9ec597;
}


.sidebar-main,
.sidebar-mobile {
     background: #8babb7;
    color: #ffffff;
    border-right: 3px solid #8babb7;
    height: 100% !important;

    &.nav-open {
	background: #8babb7;
    }
	
}

.sidebar-main h2,
.sidebar-mobile h2 {
    color: #ffffff !important;
}

ul.photo-requirements {
	
	background-color:#8babb7;
}



/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
