body {
    background-color: #ffffff;
    color: #000000;
}

#page-container {
    background-image: url('//vdssupport.github.io//century/cclogo.jpg');
}

#logo-div {
    background-image: url('//vdssupport.github.io//century/cclogo.jpg');
    min-height: 7em;
    background-size: contain;
    background-position: center;
}
