body {
    background-color: #ffffff;
    color: #2b3a90;
}

#page-container {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/hudsoncountycc/hccc-logo.png');
}

#logo-div {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/hudsoncountycc/hccc-logo.png');
    min-height: 7em;
    background-size: contain;
    background-position: center;
}