body {
    background-color: #ffffff;
    color: #582C83;
}

#page-container {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/universityofthesouth/sewannelogo.jpeg');
}

#logo-div {
    background-image: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/universityofthesouth/sewannelogo.jpeg');
    min-height: 7em;
    background-size: contain;
    background-position: center;
}
