/*
{{Color_1}}: af764c    956441
{{Color_1_Shade}}: #9d6a44; (goto http://www.color-hex.com/color/af764c ; use the second Shade -- just needs to be a little bit darker.) 9d6a44
{{Color_2}}:  5989b8    44729F
{{Color_2_Tint}}: #eef3f7; (goto http://www.color-hex.com/color/5989b8 ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking Color_2_Tint on a background of both Color_1 and Color_2; select the suggested text color that works for both backgrounds)
{{Logo_URL}}: sharptopco.github.io/cloudcard-custom-assets/organizations/LionKing/LKlogo.jpg

https://sharptopco.github.io/cloudcard-custom-assets/organizations/LionKing/LKlogo.jpg
*/

html {
  background: #956441;
}

.splash {
  background-color: #956441;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #956441;
  height:10.5em;
}

.logo {
  background: url('sharptopco.github.io/cloudcard-custom-assets/organizations/LionKing/LKlogo.jpg') top center no-repeat;
  display: inline-block;
  width: 100% !important;
  height: 100px !important;
  max-width: 400px !important;
}

header.header-page {
  background-color:#44729F;
}

.header-page .tabs li a {
  border-bottom-color:#44729F;
  color: #eef3f7;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #956441;
}

.header-page .buttons button {
  background-color: #956441;
  color: #fff;
}

.header-page button {
  background-color: #44729F;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus
{
  background-color: #eef3f7;
  color: #956441;

  /* Alternative if the above doesn't look so great.
  background-color: #44729F;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #956441;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #44729F;
}

button:hover,
button:focus {
    background-color: #eef3f7;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #956441;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #9d6a44;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #eef3f7;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #eef3f7; /*default #007bff*/
}

table th,
table td {
    background: #eef3f7;
}

.footer {
    background: #956441;
}

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server),
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
