
/*
https://colorid.github.io/cloudcard-custom-assets/unm_cloudcard.css      
*/

html {
  background: #ffffff;
}

.splash {
  background-color: #ffffff;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #ffffff;
	border-top: 10px solid #a51417;
	border-bottom: 2px solid #6c7373;
  height:10.5em;
}

.logo {
  background: url('https://sharptopco.github.io/cloudcard-custom-assets/organizations/university%20of%20buffalo/University_at_Buffalo_logo.svg.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#f5f5f5;
}

.header-page h1 {
    color: #a51417;
    padding-right: 0.73684em;
    text-transform:uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 400;
}

empty-queue-message {
    background: #ffffff;
}
.header-page .filters select {
	    border: 1px solid #a51417;
	    color: #a51417;
	    background-color: transparent;
	    text-transform:uppercase;
}

.header-page .fa-search {
	color: #a51417 !important;
	
}

.header-page .tabs li a {
  border-bottom-color:#f5f5f5;
  color: #a51417;
font-weight: 600;
text-transform: uppercase;
letter-spacing: .5px;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #a51417;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #6c7373;
}

.header-page .buttons button {
  background-color: #a51417;
  color: #fff;
	border: 1px solid #a51417;
}
.header-page .tabs a.active {
color: #a51417;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1px;	
}
.header-page button {
  background-color: #c05131;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #a51417;
  color: #ffffff;

  /* Alternative if the above doesn't look so great.
  background-color: #c05131;
  color: #fff;
   */
}


.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: transparent;
    color: #a51417;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #a51417;
    border: 2px solid #fff;
}


button:hover,
button:focus {
    background-color: #c05131;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #a51417;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #a51417;
}

.user-info {
    color: #a51417;
}

.user-info a {
    color: #6c7373;
}

.user-info a:hover,
.user-info a:focus {
    color: #a51417;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #a51417; /*default #007bff*/
}

.admin-links a {
    background: #f2f2f2;
    color: #a51417;
	text-transform:uppercase;
	letter-spacing: 1px; 
	font-weight: 500;
	
}

.admin-links a:hover,
.admin-links a:focus {
    background: #f2f2f2;
    color: #a51417;
}

table th {
	background: #a51417;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-top: 1px solid #a51417;
}

table td {
    background: #f2f2f2;
}
table a {
    color: #a51417;
    text-decoration: underline;
}

table a:hover {
    color: #a51417;
    text-decoration: none;
}

photo-list-header.photo-list-columns {
    background: #a51417;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-top: 1px solid #6c7373;
}

.header-page .filters .filter:after {
	
	Color: #a51417;
}
.footer {
      background: #a51417;
    border-top: 2px solid #6c7373;	
}


.sidebar-main,
.sidebar-mobile {
    background: #f2f2f2;
    color: #a51417;
    border-right: 1px solid #a51417;
    height: 100% !important;

   &.nav-open {
    background: #f2f2f2;
    }
}

.sidebar-main h2,
.sidebar-mobile h2 {
    color: #6c7373 !important;
    text-transform:uppercase;
    font-weight: 600;
}

ul.photo-requirements {
	
	background-color:#f2f2f2;
}

/*  .hide-on-mobile-small {
  display: none;
}
.hide-on-mobile-small {
  display: none;
} */

/* Uncomment this block if the organization has a Plus Account.
img.photos--previe005643w {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
